__pycache__/
secrets/
ssh/
venv/
.venv/
.env
data/raw/
data/processed/s2/
data/processed/cdl/
results/
.DS_Store
logs/
documents/
.vscode/
.hf_cache/
data/processed/preload_cache/
mlruns/
ml_models/
mlflow_artifacts/
mlflow.db